body {
    display: flex;
    justify-content: center;
}
.calc {
    display: flex;
    box-shadow: 8px 12px gray;
    background-color: black;
    width: 50vh;
    height: 80vh;
    border-style: groove;
    border-radius: 5vh;
    flex-direction: column;
    flex-wrap:wrap;
}

.outputDisplay {
    display: flex;
    align-items: end;
    justify-content: start;
    background-color: aliceblue;
    height: 8vh;
    width: 40vh;
    margin: 4vh;
    flex-wrap: wrap;
}

.output {
    text-decoration:dotted;
    font-size: 40px;
    font-weight: bold;
    line-height: 0vh;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    align-items:center ;
    justify-content: center;
}

.buttons {
    display: flex;
    padding: 3vh;
    margin: 2vh;
    max-height: 3vh;
    max-width: 7vh;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.buttonsBottom {
    display: flex;
    padding: 4vh;
    margin: 3vh;
    max-height: 3vh;
    max-width: 8vh;
    justify-content: center;
    align-items: center;
}